<ion-content>
  <div class="container">
    <div class="heading">
      <h1>
        <span class="shopper">s</span> Shopping Cart
      </h1>

      <a href="tabs/shoppage" class="visibility-cart transition is-open">X</a>
    </div>

    <div class="cart transition is-open">




      <div class="table">

        <div class="layout-inline row th">
          <div class="col col-pro">Product</div>
          <div class="col col-price align-center ">
            Price
          </div>
          <div class="col col-qty align-center">QTY</div>
          <div class="col">Value</div>
          <div class="col">Total</div>
        </div>

        <div class="layout-inline row" *ngFor="let item of list|async; index as i">

          <div class="col col-pro layout-inline">
            <img src="../../assets/icon/background.jpg" alt="kitten" />
            <p>{{item.productName}}</p>
          </div>

          <div class="col col-price col-numeric align-center ">
            <p>{{item.price}}</p>
          </div>

          <div class="col col-qty layout-inline">
            <a  class="qty qty-minus" (click)="qunt('minus',item)" [disabled]="!minusbutton ? false:true ">-</a>
            <input type="numeric" disabled [value]="item.quantity" />
            <a  class="qty qty-plus" (click)="qunt('plus',item)">+</a>
          </div>


          <div class="col col-vat col-numeric">
            <p>₹ 2.95</p>
          </div>
          <div class="col col-total col-numeric">
            <p> ₹ {{totalprice}}</p>
          </div>
          <div class="col col-total col-numeric">
           <p><ion-icon name="trash" (click)="remove(item)"></ion-icon> </p> 
          </div>
        </div>

       

       

        <div class="tf">
          <div class="row layout-inline">
            <div class="col">
              <p>Value </p>
            </div>
            <div class="col"><p> ₹ 2.95</p></div>
          </div>
          <div class="row layout-inline">
            <div class="col">
              <p>Shipping </p>
            </div>
            <div class="col"><p>₹ 60</p></div>
          </div>
          <div class="row layout-inline">
            <div class="col">
              <p>Total</p>
            </div>
            <div class="col"> <p>₹ {{totalprice+60}}</p></div>
          </div>
        </div>
      </div>


    </div>
  </div>




</ion-content>